PORT = 5000
DB_HOST = localhost
DB_PASSWORD = 12345
DB_USER = root
DB_AI = db_ai


# GOOGLE_API_KEY=
# @vatarAI12345 // password niagahoster & avatar ai 
# AVATAR_AI_PASSWORD=
# AVATAR_AI_SECREET=

ENVIRONTMENT = development